---
import Layout from "../layouts/Layout.astro";
import data from "../data.json";
---
<Layout title={data.metadata.title} description={data.metadata.description}>
        <div class="p-6 flex-1 flex flex-col gap-3 items-center justify-center">
            <div>(・3・)</div>
            <h1>Whoops, nothing here! <a href="/" class="underline">Go home</a></h1>
        </div>
</Layout>