---
interface Props {
    text: string;
}

const { text } = Astro.props;
---

<span class="rounded-full bg-neutral-100 dark:bg-neutral-800 text-neutral-600 dark:text-neutral-300/80 text-xs font-semibold px-3 py-1">{text}</span>