---
interface Props {
    text: string;
}

const { text } = Astro.props;
---

<span class="rounded-full bg-neutral-100 dark:bg-neutral-800 text-neutral-400 dark:text-neutral-400 text-xs font-semibold px-3 py-1">{text}</span>
<!-- <span class="rounded-full bg-amber-50/70 dark:bg-neutral-800 text-amber-600 dark:text-neutral-400 text-xs font-semibold px-3 py-1">{text}</span> -->