---
interface Props {
  title: string;
  date: string;
  link?: string;
}

const { title, date, link = "#" } = Astro.props;
---

<li
  class="p-3 hover:bg-orange-200/30 dark:hover:bg-neutral-800 rounded-lg pointer ease-in duration-100"
>
  <a href={link} target="_blank">
    <p class="flex gap-2 items-center">{title}</p>
    <div
      class="text-xs tracking-wide mt-1 text-neutral-800 dark:text-neutral-400"
    >
      {date}
    </div>
  </a>
</li>
